# Curso Phyton UDEMY

### Sección 1

In [25]:
print("Me encanta estudiar Python")

Me encanta estudiar Python

In [2]:
print('Estudiar con "Python Total" es super divertido')

Estudiar con "Python Total" es super divertido

In [3]:
print(500+55)

555

In [4]:
print('Línea 1\nLínea 2\nLínea 3')

Línea 1
Línea 2
Línea 3

In [5]:
print("A\tB\tC")
print("D\tE\tF")
print("G\tH\tI")

A	B	C
D	E	F
G	H	I

In [9]:
print("Barra Normal: /\nBarra Invertida: \ ")

Barra Normal: /
Barra Invertida: \

In [10]:
print("Barra Normal: /\nBarra Invertida: \ ")

Barra Normal: /
Barra Invertida: \

In [11]:
print("input(¿Que estas haciendo?: )")

input(¿Que estas haciendo?: )

In [12]:
print(input("¿Qué estás estudiando?"))

¿Qué estás estudiando?: Mecatronica
Mecatronica

In [13]:
print(input("¿En qué país vives?"))

¿En qué país vives?México
México

In [15]:
print(input("Escribe tu nombre:") + " " + input("Escribe tu apellido:"))

Escribe tu nombre:Pablo
Escribe tu apellido:Pombo
Pablo  Pombo

##### PRACTICA 1

In [24]:
print("Tu animal favorito es: '" + input("¿Cuál es tu animal favorito? ") + "'\nTu segundo animal favorito es: '" + input("¿Cuál es tu segundo animal favorito? ") + "'")

¿Cuál es tu animal favorito? pe
¿Cuál es tu segundo animal favorito? ga
Tu animal favorito es: 'pe'
Tu segundo animal favorito es: 'ga'

### Sección 2

In [26]:
nombre = "Tony Soprano"
edad = 51

In [27]:
nombre = "Julia"
apellido = "Roberts"
nombrecompleto = nombre + " " + apellido

In [28]:
nombrecompleto

'Julia Roberts'

In [29]:
curso = "Phyton"
print("Estas tomando un curso de " + curso)

Estas tomando un curso de Phyton

In [30]:
num_entero = 5
print(type(num_entero))

<class 'int'>

In [31]:
num_decimal = 5.84
print(type(num_decimal))

<class 'float'>

In [32]:
num1 = 7.5
num2 = 2.5
print(type(num1 + num2))

<class 'float'>

In [33]:
num1 = 7.5
num1 = int(num1)
print(type(num1))

<class 'int'>

In [34]:
num1 = "7.5"
num2 = "10"

print(float(num1) + int(num2))

17.5

In [35]:
nombre_asociado = "Jesse Pinkman"
numero_asociado = 399058
print(f"Estimado/a {nombre_asociado}, su número de asociado es: {numero_asociado}")

Estimado/a Jesse Pinkman, su número de asociado es: 399058

In [36]:
puntos_nuevos = 350
puntos_totales = 1225
print("Has ganado {} puntos! En total, acumulas {} puntos".format(puntos_nuevos,puntos_totales))

Has ganado 350 puntos! En total, acumulas 1225 puntos

In [37]:
puntos_anteriores = 875
puntos_nuevos = 350
print("Has ganado " + str(puntos_nuevos) + " puntos! En total, acumulas " + str(puntos_anteriores+puntos_nuevos) + " puntos")

Has ganado 350 puntos! En total, acumulas 1225 puntos

In [38]:
print(874//27) #Divición al piso

32

In [39]:
print(456%33) #Módulo

27

In [41]:
print(783**0.5) #Raíz Cuadrada

27.982137159266443

In [44]:
numero = 10/3
print(round(numero,2))

3.33

In [45]:
valor = 10.676767
print(round(valor))

11

In [46]:
raiz = 5**0.5
print(round(raiz,4))

2.2361

##### PRACTICA 2

In [61]:
ventas_totales = input("Ventas totales: ")
persona = input("Nombre de la persona: ")
ventas = input("Ventas generadas: ")

print(f"{persona} vendio un total de {ventas} pesos. Esto significa el {round(float(ventas)*100/float(ventas_totales),2)} de las ventas totales")

Ventas totales: 60
Nombre de la persona: pa
Ventas generadas: 3.5
pa vendio un total de 3.5 pesos. Esto significa el 5.83 de las ventas totales

### Sección 3

In [2]:
palabra = "ordenador"
print(palabra[4])

n

In [5]:
frase = "En teoría, la teoría y la práctica son los mismos. En la práctica, no lo son."
print(frase.index("práctica"))

26

In [6]:
frase = "En teoría, la teoría y la práctica son los mismos. En la práctica, no lo son."
print(frase.rindex("práctica"))

57

In [10]:
frase = "Controlar la complejidad es la esencia de la programación"
print(frase[:9])

Controlar

In [12]:
frase = "Nunca confíes en un ordenador que no puedas lanzar por una ventana"
print(frase[8::3])

neeuoed eoualz rnvta

In [16]:
frase = "Es genial trabajar con ordenadores. No discuten, lo recuerdan todo y no se beben tu cerveza"
print(frase[::-1])

azevrec ut nebeb es on y odot nadreucer ol ,netucsid oN .serodanedro noc rajabart laineg sE

In [20]:
frase = "Especialmente en las comunicaciones electrónicas, la escritura enteramente en mayúsculas equivale a gritar."
print(frase.upper())

ESPECIALMENTE EN LAS COMUNICACIONES ELECTRÓNICAS, LA ESCRITURA ENTERAMENTE EN MAYÚSCULAS EQUIVALE A GRITAR.

In [33]:
lista_palabras = ["La","legibilidad","cuenta."]
print(" ".join([lista_palabras[0],lista_palabras[1],lista_palabras[2]]))

La legibilidad cuenta.

In [31]:
lista_palabras[:]

['La', 'legibilidad', 'cuenta.']

In [39]:
palabra = "Si la implementación es difícil de explicar, puede que sea una mala idea."
palabra = palabra.replace("difícil", "fácil")
palabra = palabra.replace("mala", "buena")
print(palabra)

Si la implementación es fácil de explicar, puede que sea una buena idea.

In [1]:
texto = "Repetición"
print(texto *15)

RepeticiónRepeticiónRepeticiónRepeticiónRepeticiónRepeticiónRepeticiónRepeticiónRepeticiónRepeticiónRepeticiónRepeticiónRepeticiónRepeticiónRepetición

In [7]:
haiku = """Tierra mojada
mis recuerdos de viaje,
entre las lluvias"""
"agua" not in  haiku

True

In [8]:
texto = "electroencefalografista"
print(len(texto))

23

In [9]:
mi_lista = [1,2,3,4,5]

In [10]:
medios_transporte = ["avión", "auto", "barco", "bicicleta"]
medios_transporte.append("motocicleta")

In [13]:
frutas = ["manzana", "banana", "mango", "cereza", "sandía"]
eliminado = frutas.pop(2)
print(frutas)
print(eliminado)

['manzana', 'banana', 'cereza', 'sandía']
mango

In [17]:
#nombre: Karen
#apellido: Jurgens
#edad: 35
#ocupacion: Periodista
mi_dic = {'nombre':'Karen', 'apellido':'Jurgens', 'edad':'35', 'ocupacion':'Periodista'}
mi_dic

{'nombre': 'Karen',
 'apellido': 'Jurgens',
 'edad': '35',
 'ocupacion': 'Periodista'}

In [20]:
mi_dict = {"valores_1":{"v1":3,"v2":6},"puntos":{"points1":9,"points2":[10,300,15]}}
print(mi_dict['puntos']['points2'][1])

300

In [24]:
mi_dic = {"nombre":"Karen", "apellido":"Jurgens", "edad":35, "ocupacion":"Periodista"}
mi_dic["edad"] = 36
mi_dic["ocupacion"] = "Editora"
mi_dic["pais"] = "Colombia"
mi_dic

{'nombre': 'Karen',
 'apellido': 'Jurgens',
 'edad': 36,
 'ocupacion': 'Editora',
 'pais': 'Colombia'}

In [26]:
mi_tupla = (1, 2, 3, 2, 3, 1, 3, 2, 3, 3, 3, 1, 3, 2, 2, 1, 3, 2)
print(mi_tupla.count(2))

6

In [27]:
mi_tupla = (1, 2, 3, 2, 3, 1, 3, 2)
mi_lista = list(mi_tupla)

In [32]:
mi_set_1 = {1, 2, "tres", "cuatro"}
mi_set_2 = {"tres", 4, 5} 
mi_set_3 = (mi_set_1.union(mi_set_2))

In [33]:
sorteo = {"Camila", "Margarita", "Axel", "Jorge", "Miguel", "Mónica"}
sorteo.pop()

'Axel'

In [34]:
sorteo = {"Camila", "Margarita", "Axel", "Jorge", "Miguel", "Mónica"}
sorteo.add("Damián")

In [35]:
prueba = 5 == 4

In [36]:
print(17834/34 > 87*56)

False

In [37]:
print(25**0.5 == 5)

True

##### PRACTICA 3

In [ ]:
texto = """La Primera Guerra Mundial marcó el primer gran conflicto internacional del siglo XX. 
El asesinato del archiduque Francisco Fernando, heredero de la corona austro-húngara, y de su esposa, 
la archiduquesa Sofía, en Sarajevo el 28 de junio de 1914, dio inicio a las hostilidades, 
que comenzaron en agosto de 1914, y continuaron en varios frentes durante los cuatro años siguientes"""


#############PRIMERA PARTE = Cuantas veces aparece cada letra

numero = int(input("Escribe el número de letras que quieres buscar en el texto: "))
dic = {}

for n in range(numero):
    dic[n] = (input("Escribe la primer letra que quieres que se cuente en el texto y presiona 'Enter': ")).lower()

print(" ")
for k in dic.keys():
    texto1 = texto.lower()
    print(f"La letra {dic[k]} se encuentra en el texto {texto1.count(dic[k])} veces ")
    
    
###############SEGUNDA PARTE = Cuantas palabras hay en total 

print(" ")
palabras = texto.split()
print(f"El total de palabras que hay en el texto son {len(palabras)}")

############# TERCER PARTE = Primera y ultima palabras del texto

print(" ")
print(f"La primer letra del texto es: {texto[0]}")
print(f"La ultima letra del texto es: {texto[-1]}")

############# CUARTA PARTE = Palabras en orden inverso

print(" ")
print("El Texto en reverso se lee de la siguiente forma:")
print(texto[::-1])

############# QUInta PARTE = Encontrar una palabra solicitada

print(" ")
pa = (input("Escribe la palabra que quieres encontrar en el texto: ")).lower()

if pa in texto1:
    z = "si"
else:
    z = "no"

print(f"La palabra '{pa}' {z} se encuentra en el texto.")

### Sección 4

In [12]:
num1= 36
num2= 17
mi_bool = num1 >= num2
print(mi_bool)

True

In [13]:
num1 = 25**0.5
num2 =5
mi_bool = num1==num2
print(mi_bool)

True

In [11]:
num1 = 64*3
num2 = 24*8
mi_bool = num1!=num2
print(mi_bool)

False

In [9]:
num1 = 36
num2 = 72/2
num3 = 48
mi_bool = num1 > num2 and num1 < num3
print(mi_bool)

False

In [14]:
num1 = 36
num2 = 72/2
num3 = 48
mi_bool = num1 > num2 or num1 < num3
print(mi_bool)

True

In [17]:
frase = "Cuando algo es lo suficientemente importante, lo haces incluso si las probabilidades de que salga bien no te acompañan"
palabra1 = "éxito"
palabra2 = "tecnología"
mi_bool = not(palabra1 and palabra2) in frase
print(mi_bool)

True

In [21]:
num1 = input("Ingresa un número:")
num2 = input("Ingresa otro número:")

if (num1 > num2):
    print(f"{num1} es mayor que {num2}")
elif (num2 > num1):
    print(f"{num2} es mayor que {num1}")
else:
    print(f"{num1} y {num2} son iguales")

Ingresa un número:5
Ingresa otro número:5
5 y 5 son iguales

In [24]:
edad = 16
tiene_licencia = False

if (tiene_licencia == False):
    if (edad < 18):
        print("No puedes conducir aún. Debes tener 18 años y contar con una licencia")
    else:
        print("No puedes conducir. Necesitas contar con una licencia")
else:
    print("Puedes conducir")

No puedes conducir aún. Debes tener 18 años y contar con una licencia

In [39]:
habla_ingles = True
sabe_python = False

if habla_ingles==True and sabe_python==True:
    print("Cumples con los requisitos para postularte")
elif habla_ingles==False and sabe_python==False:
    print("Para postularte, necesitas saber programar en Python y tener conocimientos de inglés")
elif (habla_ingles == False and sabe_python == True):
    print("Para postularte, necesitas tener conocimientos de inglés")
else:
    print("Para postularte, necesitas saber programar en Python")

Para postularte, necesitas saber programar en Python

In [2]:
alumnos_clase = ["María", "José", "Carlos", "Martina", "Isabel", "Tomás", "Daniela"]
for alumnos in alumnos_clase:
    print(f"Hola {alumnos}")

Hola María
Hola José
Hola Carlos
Hola Martina
Hola Isabel
Hola Tomás
Hola Daniela

In [5]:
lista_numeros = [1,5,8,7,6,8,2,5,2,6,4,8,5,9,8,3,5,4,2,5,6,4]
suma_numeros = 0
for numero in lista_numeros:
    suma_numeros = numero + suma_numeros
print(suma_numeros)

113

In [7]:
lista_numeros = [1,5,8,7,6,8,2,5,2,6,4,8,5,9,8,3,5,4,2,5,6,4]
suma_pares = 0
suma_impares = 0 
for numero in lista_numeros:
    if numero%2==0:
        suma_pares = suma_pares + numero
    else:
        suma_impares = suma_impares + numero
print(suma_pares)
print(suma_impares)

68
45

In [8]:
numero = 10
while numero >= 0:
    print(numero)
    numero -=1

10
9
8
7
6
5
4
3
2
1
0

In [17]:
numero = 50
while numero >= 0:
    if numero%5==0:
        print(numero)
        numero -=1
    else:
        numero -=1
        continue

50
45
40
35
30
25
20
15
10
5
0

In [6]:
lista_numeros = [4,5,8,7,6,9,8,2,4,5,7,1,9,5,6,-1,-5,6,-6,-4,-3]
for numero in lista_numeros:
    if numero < 0:
        break
    else:
        print(numero)

4
5
8
7
6
9
8
2
4
5
7
1
9
5
6

In [11]:
mi_lista = list(range(2500,2586))
print(mi_lista)

[2500, 2501, 2502, 2503, 2504, 2505, 2506, 2507, 2508, 2509, 2510, 2511, 2512, 2513, 2514, 2515, 2516, 2517, 2518, 2519, 2520, 2521, 2522, 2523, 2524, 2525, 2526, 2527, 2528, 2529, 2530, 2531, 2532, 2533, 2534, 2535, 2536, 2537, 2538, 2539, 2540, 2541, 2542, 2543, 2544, 2545, 2546, 2547, 2548, 2549, 2550, 2551, 2552, 2553, 2554, 2555, 2556, 2557, 2558, 2559, 2560, 2561, 2562, 2563, 2564, 2565, 2566, 2567, 2568, 2569, 2570, 2571, 2572, 2573, 2574, 2575, 2576, 2577, 2578, 2579, 2580, 2581, 2582, 2583, 2584, 2585]

In [12]:
mi_lista = list(range(3,301,3))
print(mi_lista)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

In [25]:
suma_cuadrados = list(range(1,16))
for numero in range(len(suma_cuadrados)):
    suma_cuadrados[numero] = suma_cuadrados[numero]**2
suma_cuadrados = sum(suma_cuadrados)
print(suma_cuadrados)

1240

In [26]:
lista_nombres = ["Marcos", "Laura", "Mónica", "Javier", "Celina", "Marta", "Darío", "Emiliano", "Melisa"]
for indice, nombre in enumerate(lista_nombres):
    print(f'{nombre} se encuentra en el índice {indice}')

Marcos se encuentra en el índice 0
Laura se encuentra en el índice 1
Mónica se encuentra en el índice 2
Javier se encuentra en el índice 3
Celina se encuentra en el índice 4
Marta se encuentra en el índice 5
Darío se encuentra en el índice 6
Emiliano se encuentra en el índice 7
Melisa se encuentra en el índice 8

In [29]:
lista = list(enumerate("Python"))
print(lista)

[(0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [32]:
lista_nombres = ["Marcos", "Laura", "Mónica", "Javier", "Celina", "Marta", "Darío", "Emiliano", "Melisa"]
for indice, nombre in enumerate(lista_nombres):
    if nombre[0] == "M":
        print(indice)
    else:
        continue

0
2
5
8

In [33]:
capitales = ["Berlín", "Tokio", "París", "Helsinki", "Ottawa", "Canberra"]
paises = ["Alemania", "Japón", "Francia", "Finlandia", "Canadá", "Australia"]
lista = list(zip(paises, capitales))
for paises, capitales in lista:
    print(f"La capital de {paises} es {capitales}")

La capital de Alemania es Berlín
La capital de Japón es Tokio
La capital de Francia es París
La capital de Finlandia es Helsinki
La capital de Canadá es Ottawa
La capital de Australia es Canberra

In [34]:
marcas = ["Springfild","Calvin Klein", "Levis"]
productos = ["playeras", "calzones", "pantalones"]
mi_zip = zip(marcas, productos)

In [43]:
español = ["uno", "dos", "tres", "cuatro", "cinco"]
portugues = ["um", "dois", "três", "quatro", "cinco"]
ingles = ["one", "two", "three", "four", "five"]

numeros = list (zip(español, portugues, ingles))
numeros

[('uno', 'um', 'one'),
 ('dos', 'dois', 'two'),
 ('tres', 'três', 'three'),
 ('cuatro', 'quatro', 'four'),
 ('cinco', 'cinco', 'five')]

In [3]:
lista_numeros = [44542247/2, 21310/5, 2134747*33, 44556475, 121676, 6654067, 353254, 123134, 55**12, 611**5]
valor_maximo = max(lista_numeros)
print(valor_maximo)

766217865410400390625

In [4]:
lista_numeros = [44542247, 21310, 2134747, 44556475, 121676, 6654067, 353254, 123134, 552512, 611665]
rango = max(lista_numeros) - min(lista_numeros)
print(rango)

44535165

In [9]:
diccionario_edades = {"Carlos":55, "María":42, "Mabel":78, "José":44, "Lucas":24, "Rocío":35, "Sebastián":19, "Catalina":2,"Darío":49}
edad_minima = min(diccionario_edades.values())
ultimo_nombre = max(diccionario_edades.keys())
print(edad_minima, ultimo_nombre)

2 Sebastián

In [13]:
from random import randint
aleatorio = randint(1,10)
print(aleatorio)

8

In [14]:
from random import *
aleatorio = random()
print(aleatorio)

0.11019832390894013

In [17]:
nombres = ["Carlos", "Julia", "Nicole", "Laura", "Mailen"]
from random import *
sorteo = choice(nombres)
print(sorteo)

Carlos

In [19]:
valores = [1, 2, 3, 4, 5, 6, 9.5]
valores_cuadrado = [n**2 for n in valores]
valores_cuadrado

[1, 4, 9, 16, 25, 36, 90.25]

In [28]:
valores = [1, 2, 3, 4, 5, 6, 9.5] 
valores_pares = [n for n in valores if n%2 == 0]
valores_pares

[2, 4, 6]

In [29]:
temperatura_fahrenheit = [32, 212, 275]
grados_celsius = [(n-32)*(5/9) for n in temperatura_fahrenheit]
grados_celsius

[0.0, 100.0, 135.0]

##### PRACTICA 2

In [58]:
import random

numero_random = randint(1,100)
veces_permitidas = 0

nombre = input("Introduce tu nombre: ")

print("")
print(f"Hola {nombre}, intenta adivinar un numero del 1 al 100. Solo tendras 8 intentos")

while (veces_permitidas < 8):
    numero_entrada = int(input(f"Digita un numero, este es tu intento número {veces_permitidas+1}: "))
    
    print("")
    if (numero_entrada < 1 or numero_entrada > 100):
        print("El número que escogiste no esta permitido")
    elif (numero_entrada < numero_random):
        print("El número que escogiste es menor al número secreto, sigue intentando")
    elif (numero_entrada > numero_random):
        print("El número que escogiste es mayor al número secreto, sigue intentandolo")
    else:
        print(f"Acertaste el numero. Felicidades. Te tomó {veces_permitidas+1} intentos.")
        break
    
    if veces_permitidas == 7:
        print(f"Has perdido. El número secreto era {numero_random}")
    veces_permitidas +=1

Introduce tu nombre: Pablo

Hola Pablo, intenta adivinar un numero del 1 al 100. Solo tendras 8 intentos
Digita un numero, este es tu intento número 1: 40

El número que escogiste es mayor al número secreto, sigue intentandolo
Digita un numero, este es tu intento número 2: 30

El número que escogiste es mayor al número secreto, sigue intentandolo
Digita un numero, este es tu intento número 3: 20

El número que escogiste es mayor al número secreto, sigue intentandolo
Digita un numero, este es tu intento número 4: 10

El número que escogiste es mayor al número secreto, sigue intentandolo
Digita un numero, este es tu intento número 5: 8

El número que escogiste es mayor al número secreto, sigue intentandolo
Digita un numero, este es tu intento número 6: 5

El número que escogiste es menor al número secreto, sigue intentando
Digita un numero, este es tu intento número 7: 7

El número que escogiste es mayor al número secreto, sigue intentandolo
Digita un numero, este es tu intento número 8: 6

Acertaste el numero. Felicidades. Te tomó 8 intentos.

### Sección 5

In [32]:
texto = ",:_#,,,,,,:::____##Pyt%on_ _Total,,,,,,::#"
print(texto.lstrip(",:_#%"))

Pyt%on_ _Total,,,,,,::#

In [41]:
frutas = ["mango", "banana", "cereza", "ciruela", "pomelo"] 
frutas.insert(3,"naranja")
frutas

['mango', 'banana', 'cereza', 'naranja', 'ciruela', 'pomelo']

In [44]:
marcas_smartphones = {"Samsung", "Xiaomi", "Apple", "Huawei", "LG"}

marcas_tv = {"Sony", "Philips", "Samsung", "LG"}

conjuntos_aislados = marcas_tv.isdisjoint(marcas_smartphones)
conjuntos_aislados

False

In [45]:
def saludar():
    print("¡Hola mundo!")

In [48]:
def bienvenida(nombre_persona):
    print(f"¡Bienvenido {nombre_persona}!")

bienvenida("pablo")

¡Bienvenido pablo!

In [49]:
def bienvenida(nombre):
    nombre_persona = nombre
    print(f"¡Bienvenido {nombre_persona}!")
    
nombre_persona = "Lucas"

In [53]:
def cuadrado(un_numero):
    print(un_numero**2)
    
un_numero = 2

In [1]:
def potencia (numero1, numero2):
    return numero1**numero2

numero = potencia(8,3)
print(numero)

512

In [3]:
def usd_a_eur (dolares):
    return dolares*0.9

dolares = 10    
usd_a_eur(dolares)

9.0

In [13]:
def invertir_palabra(palabra):
    return palabra[::-1].upper()
    
palabra = "Phyton"
invertir_palabra(palabra)

'NOTYHP'

In [11]:
la = "hola"
la[::-1]

'aloh'

In [27]:
def todos_positivos(lista_numeros):
    for n in lista_numeros:
        if n < 0:
            return False
        else:
            pass
    return True
    
lista_numeros = [1,-1,2,-2,3,-3]

todos_positivos(lista_numeros)

False

In [33]:
def suma_menores (numeros):
    lista_numeros = []
    for n in numeros:
        if n > 0 and n < 1000:
            lista_numeros.append(n)
        else:
            pass
    return sum(lista_numeros)

numeros = [5, 5, 5, 5, 5, 1000, 22000, 5, -5, -2]

suma_menores(numeros)

30

In [49]:
def cantidad_pares (lista_numeros):
    pares = 0 
    for n in lista_numeros:
        if n%2 == 0:
            pares += 1
        else: 
            pass
    return pares

lista_numeros = [2,4,5,6,7,8,10]

cantidad_pares(lista_numeros)

5

In [48]:
def is_prime(n):
    for i in range(2,n):
        if (n%i) == 0:
            return False
    return True

lista_numeros = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
lista_primos = []

for n in lista_numeros:
    primo = is_prime(n)
    if primo == True:
        lista_primos.append(n)
    else:
        pass

print(lista_primos)

[2, 3, 5, 7, 11]

In [1]:
a = 5

In [5]:
print ("hola", a, "mama ")

hola 5 mama